.headerfooter, .headerfooter:hover {					/*** style of "xxx's Profile", "Last logge" ***/
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	height: 20px;
}

.headerfooter:hover {							/*** hover: style of "xxx's Profile", "Last logge" ***/
	color: #FFFFFF;
	text-decoration: none;
}

.nickwidth {								/*** width of sections ***/
	margin: 10px;
	text-align: center;
	width: 550px;
}

.footer {
	border-right-style: solid;
	border-left-style: solid;
	border-top-style: none;
	border-bottom-style: none;
	height: 20px;
	text-align: center;
	vertical-align: middle;
}

.module_head {
	height: 20px;
	text-align: center;
}

.module_detail_inside {
	border-top-style: solid;
}