body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #434548;
	background-color: #FFFFFF;
	padding: 0;
  margin: 0;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
/* hides text-align to the left from IE, because the next 2 rules doesn't apply to IE */
 html>body td {
  text-align: left;
}

html>body td[align="center"] {
  text-align: center;
}

html>body td[align=center] {
  text-align: center;
}

html>body td[align=right] {
  text-align: right;
}

html>body td[align="right"] {
  text-align: right;
}

*[align="center"] {
  text-align: center;
}

*[align=center] {
  text-align: center;
}

*[align="right"] {
  text-align: right;
}

*[align=right] {
  text-align: right;
}

.module_detail_inside {
  font-size: 11px;
  font-weight: normal;
  background-color: #fff8f8;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #e8d1cd;
  border-right-color: #e8d1cd;
  border-bottom-color: #e8d1cd;
  border-left-color: #e8d1cd;

}


.module_head {
  background-color: #e8d1cd;
  font-size: 11px;
  font-weight: bold;
  color: #695f5d;

}
.oddrow {
  background-color: #fefefe;
}

.evenrow {
  background-color: #efefef;
}
.newshead{
	color: #695f5d;
	font-weight: bold;
}
